<div class="navbar navbar-default" xmlns:max-height="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Finer Things Club (no logo)</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right  ">
      </ul>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Galactic Forms in Angular 2</h2>
      <h6>Terrify codified by one "Finer"</h6>
      <br>
    </div>
  </div>

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">

            <div class="margin-20">
              <h4>Your galactic information</h4>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <app-personal-information
                  [group]="getPersonalInformation()">
                </app-personal-information>
              </div>
            </div>

            <div class="margin-20">
              <h4>Your Powers Information</h4>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <app-powers-information
                  [group]="myForm.controls.powers"
                  [side]="myForm.controls.personal.controls.side.value">
                </app-powers-information>
              </div>
            </div>


            <div class="margin-20">
              <h4>Your address information</h4>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div formArrayName="addresses">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <template ngFor let-row [ngForOf]="myForm.controls.addresses.controls" let-i="index">
                        <app-address-information
                          [group]="myForm.controls.addresses.controls[i]"
                          [trash]="i > 0">
                        </app-address-information>

                        <div style="clear: both;"></div>
                      </template>
                    </div>
                  </div>
                </div>

                <div class="margin-20">
                  <a (click)="addAddress()" style="cursor: default">
                    Add another address +
                  </a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="margin-20">
          <h4>Form validation and values</h4>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </div>

    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-8">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!myForm.valid">Submit</button>
      </div>
      <div class="clearfix"></div>
    </div>


  </form>
</div>
