<div class="navbar navbar-default" xmlns:max-height="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Finer Things Club (no logo)</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right  ">
      </ul>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Galactic Forms in Angular 2</h2>
      <h6>Terrify codified by one "Finer"</h6>
      <br>
    </div>
  </div>

  <app-registration-information></app-registration-information>

</div>
