<div class="navbar navbar-default navbar-fixed-top" xmlns:max-height="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Finer Things Club (no logo)</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right  ">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Foms in Angular 2</h2>
      <h6>Terrify codified by one "Finer"</h6>
      <br>
    </div>
  </div>

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="margin-20">
              <h4>Edit your shipping information</h4>
            </div>

            <!-- shipping information -->
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3" *ngFor="let side of sides; let i=index;">
                <div class="jediradio">
                  <div [attr.class]="'jediradio-'+side.color">
                    <input type="radio"
                           name="side"
                           [attr.id]="'light'+i"
                           [value]="side.value"
                           formControlName="side"/>
                    <!--[checked]="value === size"-->
                    <label [attr.for]="'light'+i">{{side.display}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" formControlName="name" placeholder="Your Name">
                </div>

                <div class="fixed-panel">
                  <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                    Tell me your name please! (minimum 5 characters)
                  </small>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-fire" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" formControlName="master" placeholder="Your Master Name">
                </div>

                <div class="fixed-panel">
                  <small *ngIf="!myForm.controls.master.valid" class="text-danger">
                    Your master is really important too
                  </small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" formControlName="planet" placeholder="Your Planet">
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <input type="email" class="form-control" formControlName="mail" placeholder="Your Galactic Mail">
                </div>

                <div class="fixed-panel">
                  <small *ngIf="!myForm.controls.mail.valid" class="text-danger">
                    We need to sense your presence
                  </small>
                </div>

              </div>
            </div>

            <div class="margin-20">
              <h4>Your Powers Information</h4>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <app-powers-information
                  [group]="myForm.controls.powers"
                  [side]="myForm.controls.side.value">
                </app-powers-information>
              </div>
            </div>


            <div class="margin-20">
              <h4>Your address information</h4>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <!--addresses-->
                <div formArrayName="addresses">
                  <div *ngFor="let address of myForm.controls.addresses.controls; let i=index"
                       class="panel panel-default">
                    <div class="panel-heading">
                      <span>Address {{i + 1}}</span>
                      <span class="glyphicon glyphicon-remove pull-right"
                            *ngIf="myForm.controls.addresses.controls.length > 1"
                            (click)="removeAddress(i)"></span>
                    </div>
                    <div class="panel-body" [formGroupName]="i">
                      <app-address-information
                        [group]="myForm.controls.addresses.controls[i]"></app-address-information>
                    </div>
                  </div>
                </div>

                <div class="margin-20">
                  <a (click)="addAddress()" style="cursor: default">
                    Add another address +
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <!--credit card-->
            <div formArrayName="creditCards">
              <div *ngFor="let card of myForm.controls.creditCards.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <span>Credit Card {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right"
                        *ngIf="myForm.controls.creditCards.controls.length > 1"
                        (click)="removeCreditCard(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <app-credit-card-information
                    [group]="myForm.controls.creditCards.controls[i]"></app-credit-card-information>
                </div>
              </div>
            </div>

            <div class="margin-20">
              <a (click)="addCreditCard()" style="cursor: default">
                Add another credit card +
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="margin-20">
          <h4>Form validation and values</h4>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!myForm.valid">Submit</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
